<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} Car-review corpora: error {% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h3>Ой! Кажется, что-то пошло не так.</h3>
        <br>
        <h3>Вероятнее всего, по Вашему запросу не нашлось результатов.</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}