{% extends 'base.html' %}

{% block title %} Car-review corpora: контакты {% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h4>Фундаментальная и компьютерная лингвистика НИУ ВШЭ, БКЛ-192</h4>
        <br>
        <h5>Татьяна Перевощикова</h5>
        <a href="https://t.me/matarraa">@matarraa</a>
        <br>
        <br>
        <h5>Полина Черноморченко</h5>
        <a href="https://t.me/o_fawkes">@o_fawkes</a>
        <br>
        <br>
        <h5>Полина Машковцева</h5>
        <a href="https://t.me/axidys">@axidys</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}