{% extends 'base.html' %}

{% block title %} Car-review corpora: FAQ {% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h5>как правильно задать запрос?</h5>
        <br>
        запрос может состоять из любой комбинации длиной от 1 до 3 следующих элементов:
        <br>
        <i>машина</i> — будут выданы все предложения, где слово <b>X</b> (в нашем примере <i>машина</i>) стоит в любой форме. <b>X</b> также может быть в любой форме.
        <br>
        <i>"машина"</i> — будут выданы все предложения со словом <b>X</b> (в нашем примере <i>машина</i>) в заданной форме.
        <br>
        <i>машина+NOUN</i> — будут выданы все предложения, где слово <b>X</b> (в нашем примере <i>машина</i>) стоит в любой форме и размечено как часть речи <b>Y</b> (в нашем примере <i>NOUN</i>). список тегов можно посмотреть, нажав на соответствующую ссылку внизу.
        <br>
        <i>NOUN</i> — будут выданы все предложения со словоформами, размеченными как часть речи <b>Y</b> (в нашем примере <i>NOUN</i>).
        <br>
        <br>
        <h5>как выглядит выдача?</h5>
        <br>
        выдача состоит из предложений, в которых токены находятся в том же порядке, что и в запросе.
        <br>
        иными словами, между всеми элементами запроса расстояние равняется единице.
        <br>
        рядом с каждым результатом находится ссылка на VK-страницу автора и на пост из <b><a href="https://vk.com/poyasni_za_tachku">первоисточника</a></b>.
        <br>
        <br>
        <h5>каков размер корпуса?</h5>
        <br>
        80126 токенов.
        <br>
        <br>
        <h5>как собирался материал?</h5>
        <br>
        с помощью <b><a href="https://popsters.ru/">Popsters</a></b>. собранные посты можно увидеть <b><a href="https://github.com/pmashkovtseva/car-review-corpora/blob/main/primary_data.csv">здесь</a></b>.
        <br>
        <br>
        <h5>как обрабатывался корпус?</h5>
        <br>
        предложения были токенизированы, лемматизированы <b><a href="https://github.com/natasha/natasha">Наташей</a></b> и собраны в базу данных. код можно увидеть <b><a href="https://github.com/pmashkovtseva/car-review-corpora/blob/main/primary_data_processing.ipynb">здесь</a></b>.
    </div>
{% endblock %}