{% extends 'base.html' %}

{% block title %} Car-review corpora: главная {% endblock %}

{% block content %}
    <style>
        form {
            background-color: #C7C7C7;
            width: 500px;
            height: 44px;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: auto
        }
        input {
            all: unset;
            font: 16px system-ui;
            color: #fff;
            height: 100%;
            width: 100%;
            padding: 6px 10px;
        }
        ::placeholder {
            color: #fff;
            opacity: 0.7;
        }
        button {
            all: unset;
            cursor: pointer;
            width: 44px;
            height: 44px;
        }
        svg {
            color: #fff;
            fill: currentColor;
            width: 50px;
            height: 50px;
            padding: 10px;
        }
    </style>
    <div style="text-align: center;">
        <h3>это текстовый корпус обзоров на автомобили.</h3>
        <h5>собран в октябре 2021 года.</h5>
        <h5>все материалы взяты из сообщества <a href="https://vk.com/poyasni_za_tachku">"Поясни за тачку"</a>.</h5>
        <br>
        <br>
    </div>
    <form action='/search'>
        <input type="text" id="query" name="query" placeholder="поиск..." aria-label="поиск...">
        <button type="submit">
            <svg viewBox="0 0 1024 1024">
                <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
            </svg>
        </button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}